@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;400;500&family=Oxygen:wght@400;700&family=Petrona:ital,wght@0,200;1,200&family=Sofia+Sans:wght@800&display=swap');

:root {
    --wildsand: #f6f6f6;
    --caparol: #f1efee;
    --white: #ffffff;
    --goldenfizz: #f5f544;
    --salmon: #e3726f;
    --cornflower: #6f99ec;
    --midnight: #040406;
    --font-oxygen: "Oxygen", sans-serif;
    --font-sofia: "Sofia Sans", sans-serif; 
    --font-krub: "Krub", sans-serif;
    --font-petrona: "Petrona", sans-serif;
}

/* Universal */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--krub);
    font-weight: 200;
    color: var(--midnight);
    background-color: var(--wildsand);
    margin-left: 2rem;
    margin-right: 2rem;
}

hr {
    border-top: 0.1rem solid var(--midnight);
    opacity: 30%; 
}

.vertical-line {
    border-top: 0.1rem solid var(--midnight);
    opacity: 30%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

h2 {
font-family: var(--font-oxygen);
font-weight: 400;
color: var(--midnight);
font-size: 2.5rem;
padding-bottom: 2rem;
}

label {
    font-family: var(--font-krub);
    font-weight: 400;
}

input[type=radio] {
    accent-color: var(--cornflower);
}

/*label:before { content: " " }*/

.dark-btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--white);
    background-color: var(--midnight);
    border-radius: 2rem;
    font-family: var(--font-oxygen);
    font-weight: 400; /* regular */
    font-size: 1.6rem;
    padding: 0.5rem;
    padding-left: 2%;
    padding-right: 2%;
}

.dark-btn:hover {
    background-color: var(--goldenfizz);
    color: var(--midnight);
}

/* Header */
#top-navbar {
    /*position: fixed; */
    z-index: 2000;
}

.nav-bar {
    flex-direction: row;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    left: auto;
    top: 1.5rem;
    height: 2.5rem;
    display: block;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: var(--wildsand);
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    height: auto;
    width: 100%;
}

.nav-menu li a {
    font-family: var(--font-oxygen);
    font-weight: 700; /* bold */
    transition: 0.30s ease-in-out;
    padding-bottom: 1rem;
    padding-left: 3rem;
    font-size: 2rem;
    color: var(--midnight);
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    color: var(--cornflower)
}

#start-btn {
    font-size: 2rem;
    padding: 1rem;
    padding-left: 12%;
    padding-right: 12%;
}

/* Div 01 - Home landing page */
.art-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    margin-top: 0;
    padding-top: 50%;
    padding-left: 10%;
}

.hello-title {
    font-family: var(--font-sofia);
    font-weight: 800; /* extra bold */
    font-size: 15rem; 
    padding: 0;
    padding-top: 1rem;
    letter-spacing: 4%;
    -webkit-text-stroke: 1px var(--midnight);
    background: url("../img/carpet-texture-bkg.png");
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.art-home-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 20%;
}

/* Div 02 - Quiz Mode */
.quiz-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; /* TODO - fix to move text bottom middle under img */
}

/* TODO - mobile: column, desktop: row*/
.quiz-three-modes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.quiz-mode, .quiz-result-next p {
    font-family: var(--font-krub);
    font-weight: 500;
    padding-bottom: 4rem;
}

.quiz-three-modes img {
    width: 30%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Div 03 - Quiz Game */
.quiz-game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    padding-bottom: 4rem;
}

.quiz-overview-row {
    padding-top: 2rem;
}

/* TODO: Space out quiz mc options */ 
.quiz-question-column {
    padding-bottom: 2rem;
} 

.quiz-question-column label {
    padding-left: 1rem;
}

.quiz-option-1, .quiz-option-2, .quiz-option-3, .quiz-option-4 {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

/* Div 04 - Quiz Help Info */
.quiz-help-info {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.quiz-help-info, .quiz-game p {
    font-family: var(--font-petrona);
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--midnight);
    padding-bottom: 2rem;
}

/* Div 05 - Results */
.quiz-result-next {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    justify-content: space-between;
    align-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.quiz-result-column, .quiz-next-column {
    display: flex;
    flex-direction: column;
}

.quiz-result-column h3 {
    font-family: var(--font-petrona);
    font-weight: 200;
    font-size: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.quiz-result-column p {
    font-family: var(--font-krub);
    font-weight: 200;
    font-size: 1.6rem;
}

.quiz-next-column img {
    width: 20%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

#quiz-next-mode {
    padding-bottom: 1rem;
}

/* Div 06 - Footer */
.footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--wildsand);
    color: var(--midnight);
    min-height: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
}

.footer a {
    font-size: 2rem;
    padding-right: 1rem;
}

.footer h5 {
    font-family: var(--font-oxygen);
    font-weight: 400; /* regular */
    font-size: 2rem;
    /*margin-left: 1.3rem;*/
    margin-right: 1.3rem;
    margin-top: 1.3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.footer i p {
    font-family: var(--font-krub);
    transition: all 0.3s ease-in-out;
}

.footer i:hover {
    color: var(--goldenfizz);
}

.social ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    font-family: var(--font-krub);
}

.contact i {
    color: var(--cornflower);
}

/*copyright */
.contact p:last-child { 
    font-size: 1rem;
    font-weight: 300;
    padding-top: 1.5rem;
}

#subscribe-btn {
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
}