@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;400;500&family=Oxygen:wght@400;700&family=Petrona:ital,wght@0,200;1,200&family=Sofia+Sans:wght@800&display=swap');

:root {
    --wildsand: #f6f6f6;
    --caparol: #f1efee;
    --white: #ffffff;
    --goldenfizz: #f5f544;
    --salmon: #e3726f;
    --junglegreen: #2AAA8A;
    --cornflower: #6f99ec;
    --midnight: #040406;
    --font-oxygen: "Oxygen", sans-serif;
    --font-sofia-sans: "Sofia Sans", sans-serif; 
    --font-krub: "Krub", sans-serif;
    --font-petrona: "Petrona", sans-serif;
}

/* Universal */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--krub);
    font-weight: 200;
    color: var(--midnight);
    background-color: var(--wildsand);
    margin-left: 1.5rem;
    margin-right: 1rem;
}

hr {
    border-top: 0.1rem solid var(--midnight);
    opacity: 30%; 
}

h2 {
font-family: var(--font-oxygen);
font-weight: 400;
color: var(--midnight);
font-size: 2.5rem;
padding-bottom: 2rem;
}

label {
    font-family: var(--font-krub);
    font-weight: 400;
}

input[type=radio] {
    accent-color: var(--cornflower);
}

.dark-btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--white);
    background-color: var(--midnight);
    border-radius: 2rem;
    font-family: var(--font-oxygen);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0.5rem;
    padding-left: 2%;
    padding-right: 2%;
}

.dark-btn:hover {
    background-color: var(--goldenfizz);
    color: var(--midnight);
}

/* Header */
#top-navbar {
    /*position: fixed; */
    z-index: 2000;
}

.nav-bar {
    flex-direction: row;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    left: auto;
    top: 1.5rem;
    height: 2.5rem;
    display: block;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: var(--wildsand);
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    height: auto;
    width: 100%;
}

.nav-menu li a {
    font-family: var(--font-oxygen);
    font-weight: 700; 
    transition: 0.30s ease-in-out;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 2rem;
    color: var(--midnight);
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    color: var(--cornflower)
}

/* Div 01 - Home landing page */
.art-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    margin-top: 0;
    padding-top: 50%;
}

.hello-title-row, .quiz-mode-title-row, .mode-img-row , .mode-label-row, .quiz-result-heading-row, .quiz-result-content-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hello-title {
    font-family: var(--font-sofia-sans);
    font-weight: 800; 
    font-size: 10rem; 
    letter-spacing: 5%;
    -webkit-text-stroke: 1px var(--midnight);
    background: url("../img/tapestry-fabric-faces.webp");
    opacity: 85%;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.art-home-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 4rem;
}

#launch-start-btn {
    padding: 1rem 4rem 1rem 4rem;
}

/* Div 02 - Quiz Mode */
.quiz-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    padding-top: 4rem;
}

.quiz-three-modes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.quiz-mode, .quiz-result-next p {
    font-family: var(--font-krub);
    font-weight: 500;
    padding-bottom: 4rem;
}

.quiz-three-modes img {
    width: 70%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}

.quiz-three-modes img:hover  {
	opacity: 0.5;
}

/* Div 03 - Quiz Game */
.quiz-game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#quiz-question-row {
    padding-top: 4rem;
}

.quiz-overview-row {
    padding-top: 1rem;
}

.quiz-overview-row, .score-dynamic-row, .quiz-result-text-row {
    display: flex;
    flex-direction: row;
}

.quiz-header-dash {
    padding-left: 2rem;
    padding-right: 2rem;
}

.quiz-question-column label {
    padding-left: 1rem;
}

.quiz-option-1, .quiz-option-2, .quiz-option-3, .quiz-option-4 {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.quiz-option-1:hover, .quiz-option-2:hover, .quiz-option-3:hover, .quiz-option-4:hover {
    opacity: 50%;
}

.correct-option {
    color: var(--junglegreen);
}

.incorrect-option {
    color: var(--salmon);
}

#dialog-btn-div {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-left: 2rem;
}

#open-dialog-btn {
    font-family: var(--font-petrona);
    font-weight: 400;
    height: 2rem;
    line-height: 2rem;  
    width: 2rem;  
    font-size: 1rem;
    border-radius: 50%;
    background-color: var(--cornflower);
    color: var(--midnight);
    text-align: center;
}

#close-dialog-btn-div {
    padding-left: 1rem;
    padding-top: 1rem;
}

#open-dialog-btn:hover {
    background-color: var(--goldenfizz);
    color: var(--midnight);
}

dialog button:hover {
    background-color: var(--goldenfizz);
    color: var(--midnight);
}

dialog {
    padding-bottom:2rem;
}

dialog p {
    font-family: var(--font-petrona);
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--midnight); 
    padding: 2rem;
}

::backdrop {
    background-image: linear-gradient(
      var(--wildsand)
      var(--caparol)
    );
    opacity: 0.90;
  }

/* Div 04 - Results */
.quiz-result-next-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.quiz-result-column, .quiz-next-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
}

.quiz-result-column h3 {
    font-family: var(--font-petrona);
    font-weight: 200;
    font-size: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.quiz-result-column, .quiz-next-column p {
    font-family: var(--font-krub);
    font-weight: 200;
    font-size: 1.6rem;
}

.quiz-next-column img {
    width: 70%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#play-again-btn, #next-quizmode-btn {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Div 05 - Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--wildsand);
    color: var(--midnight);
    min-height: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
}

.footer a {
    font-size: 1.6rem;
    padding-right: 1rem;
}

.footer h5 {
    font-family: var(--font-oxygen);
    font-weight: 400; 
    font-size: 2rem;
    margin-right: 1.3rem;
    margin-top: 1.3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.footer i p {
    font-family: var(--font-krub);
    transition: all 0.3s ease-in-out;
}

.footer i:hover {
    color: var(--goldenfizz);
}

.social ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    font-family: var(--font-krub);
}

.contact i {
    color: var(--cornflower);
    font-size: 2rem;
    padding-top: 1rem;
}

/*copyright */
.subscribe-form p:last-child { 
    font-family: var(--font-krub);
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 1rem;
}

#subscribe-btn {
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
}

/* subscribed.html */
#confirmation-page {
    height: 100vh;
    width: 100vw;
    background-color: var(--wildsand);
    opacity: 90%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#confirmation-box {
    background-color: var(--caparol);
    color: var(--midnight);
    font-size: 4rem;
    padding: 4rem;
}

#confirmation-box h3 p i {
    padding-top: 2rem;
}

#confirmation-page i {
    color: var(--cornflower);
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#confirmation-page i:hover{
    color: var(--goldenfizz);
}

/* Media Query */
/* Default design - Mobile - 375 x 667 px */

/* Media Query 01 - Tablet - 768 x 959 px */
@media (min-width: 768px) {
    body {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 4rem;
        padding-bottom: 3rem;
    }

    .dark-btn, .nav-menu li a, .footer h5 {
        font-size: 2.5rem;
    }

    .dark-btn {
        padding-left: 3%;
        padding-right: 3%;
    }

    /* Div 01 - Home landing page */
    .art-home {
        padding-top: 40%;
        padding-bottom: 20%
    }

    .hello-title {
        font-size: 20rem;
    }

    #launch-start-btn {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    /* Div 02 - Quiz Mode */
    .quiz-three-modes img {
        width: 50%;
    }

    .quiz-mode-beginner, .quiz-mode-intermediate, .quiz-mode-expert {
        padding-bottom: 3rem;
    }

    /* Div 03 - Quiz Game */
    .quiz-game {
        padding-bottom: 20%;
    }

    .quiz-header-dash {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .quiz-game input {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    .quiz-option-1, .quiz-option-2, .quiz-option-3, .quiz-option-4  {
        padding-bottom: 3.5rem;
    }

    #open-dialog-btn, dialog {
        font-size: 2rem;
    }

    #open-dialog-btn {
        height: 3rem;
        line-height: 3rem;  
        width: 3rem;  
    } 

    dialog p{
        font-size: 3rem;
    }

    dialog button {
        font-size: 2rem;
    }
    
    /* Div 04 - Results */
    .quiz-result-next-section {
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .quiz-result-column h3 {
        font-size: 5rem;
    }

    .quiz-result-column, .quiz-next-column p {
        font-size: 2.5rem;
    }

    #play-again-btn, #next-quizmode-btn {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /* Div 05 - Footer */
    .footer {
        flex-direction: row;
    }

    .footer h5{
        font-size: 3rem;
    }

    .contact i, .footer {
        font-size: 3rem;
    }

    .contact p {
        font-size: 2.5rem;
    }

    #emailaddress, #subscribe-btn, .subscribe-form p:last-child {
        font-size: 2rem;
    }

    /* subscribed.html */
    #confirmation-box {
        font-size: 5rem;
    }
    
}

/* Media Query 02 - Laptop - 1920 x 1080 px */
@media (min-width: 1920px) {
    body {
        font-size: 6rem;
    }

    h2 {
        font-size: 7rem;
        padding-bottom: 6rem;
    }

    .dark-btn, .nav-menu li a, .footer h5 {
        font-size: 5rem;
    }

    /* Div 01 - Home landing page */
    #home {
        margin-top: -25%;
    }

    .art-home {
        padding-bottom: 20%
    }

    .hello-title {
        font-size: 40rem;
    }

    /* Div 02 - Quiz Mode */
    .quiz-mode {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    #quiz-mode-title {
        padding-top: 4rem;
    }

    .quiz-three-modes {
        display: flex;
        flex-direction: row;
        padding-top: 4rem;
    }

    #beginner-img, #expert-img  {
        width: 80%;
        height: auto;
    }

    #intermediate-img {
        width: 30%;
        height: auto;
    }

    /* Div 03 - Quiz Game */
    .quiz-header-dash {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .quiz-overview-row p {
        font-size: 4.5rem;
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

    .quiz-game input {
        -ms-transform: scale(3);
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    .quiz-game label {
        padding-left: 4rem;
    }

    .quiz-question-column {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .quiz-option-1, .quiz-option-2, .quiz-option-3, .quiz-option-4  {
        display: flex;
        flex-direction: row;
        width: 50%;
        padding-bottom: 5rem;
    }

    dialog button {
        font-size: 4rem;
    }

    #open-dialog-btn {
        font-size: 4rem;
        height: 4rem;
        line-height: 4rem;  
        width: 4rem; 
    }

    /* Div 04 - Results */
    .quiz-result-column h3 {
        font-size: 12rem;
    }

    .quiz-result-column, .quiz-next-column p {
        font-size: 4rem;
    }

    #play-again-btn, #next-quizmode-btn {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .quiz-result-next-section {
        margin-bottom: -10%;
    }

    .quiz-result-next-section img {
        width: 50%;
        height: auto;
    }

    /* Div 05 - Footer */
    .footer h5{
        font-size: 4rem;
    }

    .contact i, .footer {
        font-size: 5rem;
    }

    .contact p {
        font-size: 4rem;
    }

    #emailaddress, #subscribe-btn, .subscribe-form p:last-child {
        font-size: 3rem;
    }
}

/* Media Query 03 - iMacs - 2560 x 1440 px */
@media (min-width: 2560px) {
    body {
        font-size: 10rem;
    }

    h2 {
        font-size: 12rem;
        padding-bottom: 6rem;
    }

    .dark-btn, .nav-menu li a, .footer h5 {
        font-size: 8rem;
    }

    /* Div 01 - Home landing page */
    #home {
        margin-top: -25%;
    }

    .art-home {
        padding-bottom: 20%
    }

    .hello-title {
        font-size: 60rem;
    }

    /* Div 02 - Quiz Mode */
    .quiz-mode {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    #quiz-mode-title {
        padding-top: 6rem;
    }

    .quiz-three-modes {
        display: flex;
        flex-direction: row;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    #beginner-img, #expert-img  {
        width: 90%;
        height: auto;
    }

    #intermediate-img {
        width: 40%;
        height: auto;
    }

    /* Div 03 - Quiz Game */
    .quiz-game {
        margin-top: 6rem;
    }

    .quiz-header-dash {
        padding-left: 15rem;
        padding-right: 15rem;
    }

    .quiz-overview-row p {
        font-size: 7rem;
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

    .quiz-game input {
        -ms-transform: scale(3);
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    .quiz-game label {
        padding-left: 4rem;
    }

    .quiz-question-column {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .quiz-option-1, .quiz-option-2, .quiz-option-3, .quiz-option-4  {
        display: flex;
        flex-direction: row;
        width: 50%;
        padding-bottom: 5rem;
    }

    dialog button {
        font-size: 7rem;
    }

    #open-dialog-btn {
        font-size: 7rem;
        height: 7rem;
        line-height: 7rem;  
        width: 7rem; 
    }

    /* Div 04 - Results */
    .quiz-result-column h3 {
        font-size: 12rem;
    }

    .quiz-result-column, .quiz-next-column p {
        font-size: 4rem;
    }

    #play-again-btn, #next-quizmode-btn {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .quiz-result-next-section {
        margin-bottom: -10%;
    }

    .quiz-result-next-section img {
        width: 40%;
        height: auto;
    }

    .quiz-result-text-row h3 {
        font-size: 20rem;
    }

    #quiz-result-message-dynamic, #quiz-next-mode-label {
        font-size: 8rem;
        padding-bottom: 10%;
    }

    /* Div 05 - Footer */
    .footer h5{
        font-size: 6rem;
    }

    .contact i, .footer {
        font-size: 6rem;
    }

    .contact p {
        font-size: 6rem;
    }

    #emailaddress, #subscribe-btn, .subscribe-form p:last-child {
        font-size: 4.5rem;
    }
}